<div class="container">
<h1 id="event_name">Event: <%= @event_name%></h1>
<h4> A breakdown of activity "<%= @event_name%>" by hour, over 24 hours</h4>
<p id="hours"><% @grouped_times.each do |key, value| %>
  Hour: <%= key %>, Count: <%= value.count %></br>
<% end  %></p>
</div>
